body{
/*color: #fff;*/
font-family: system-ui;
text-align:center;
}

#content{
display:grid;
grid-template-columns:repeat(3,1fr);
grid-auto-rows: minmax(100px,auto);
grid-gap:1px;
max-width: 1010px;
margin: 0 auto;
position:relative;
}

#content > *{
background: #3bbced;
padding:30px;
background: #b3b3b3;
}


#innerformradio{
padding:1px;
grid-column:1/2;
grid-row:1/1;
background: red;
background: #6f8273;
}


#innerformcolumns{
display:grid;
grid-template-columns:repeat(2,1fr);
grid-auto-rows: minmax(100px,auto);
background: #3bbced;
grid-gap:5px;
background: #6f8273;
}


#innerformleft{
grid-column:1/2;
grid-row:1/1;
background: yellow;
background: #6f8273;
}

#innerformright{
grid-column:2/3;
grid-row:1/1;
background: orange;
background: #6f8273;
}


#rightcolumn{
display:grid;
grid-template-columns:(1,1fr);
grid-template-rows:4;
background: white;
grid-gap:5px;
background: #b3b3b3;

}


#righttop{

grid-column:1/1;
grid-row:1/2;
background: yellow;
padding:20px;
background: #6f8273;
}



#rightmid{
grid-column:1/1;
grid-row:2/3;
background: orange;
padding:20px;
background: #6f8273;
height:240px;
width:400px;
overflow:auto;
}


#rightbottom{

grid-column:1/1;
grid-row:3/4;
background: blue;
padding:20px;
background: #6f8273;
}




#innerformbuttons{
grid-column:1/2;
grid-row:2/2;
background: purple;

}


#submit {
width: 15em;  height: 2em;
}



#formtop{
width:100%;
text-align:center;
}


#formmiddle{

}


#tableleft{
text-align:left;
}


#msgtxt{
color: red;
font-family: system-ui;
font-size:150%;
}

#msgtxt a{
color: red;
 text-decoration: none;
}


#msgtxt a:hover{
color: black;
}

#home{
color: black;
text-decoration: none;
font-size:150%;
}

#home a{
color: black;
text-decoration: none;
font-size:150%;
}

#pkg a{
color: black;
text-decoration: none;
font-size:120%;
}

#home a:hover{
color: white;
text-shadow: 2px 2px 4px #000000;
}

#pkg a:hover{
color: white;
text-shadow: 2px 2px 4px #000000;
}


main{
grid-column:1/4;
grid-row:1/1;

}



section{
grid-column:4/5;
grid-row:1/1;
}




header h3{
grid-column:2/3;
background: #3bbced;
background: black;
color:white
}




aside{

grid-column:1/2;
grid-row:1/3;
}



